*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #152127;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 1500px;
}


.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12, 16, 20);
    border-right: 3px solid #2f3e46;
    width: 67%;
    position: relative;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}


.icon{
    height: 80px;
    width: 80px;
    margin: 80px;
}




.par{
    display: flex;
    height: 180px;
    align-items: center;
    margin: auto;
}
.stories-img{
    display: flex;
    height: 380px;
    margin: auto;
    width: auto;
}


.block-2 {
    width: 50%;
    background: #0f1b20;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: right;

    flex-direction: column;
}


.login{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    justify-content: center;
    padding-top: 50px;
}

.voiti {
    color: white;
    margin: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.login input{
    padding: 25px;
    border-radius: 17px;
    border: 1px solid #2f3e46;
    background: transparent;
    color: white;
}

input::placeholder{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.login button {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background: #2f82ef;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.login button:hover{
    background-color: #1c79f3;
}



.tupoi {
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #0f1b20;
    border-radius: 20px;
}

.tupoi:hover{
    background-color: #162329;
}

.enother{
    margin: auto;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}


.facebook-in{
    margin: auto;
    padding: 5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2f3e46;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    justify-content: center;
    background-color: #0f1b20;
    margin-bottom: 15px;
}

.facebook-in:hover{
    background-color: #162329;
}

.facebook{
    height: 17px;
}

.hz{
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: right;
}

.newacc{
    margin: auto;
    padding: 5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2f82ef;
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    justify-content: center;
    background-color: #0f1b20;
    margin-bottom: 15px;
}

.hz2{
    color: #2f82ef;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.newacc:hover{
    background-color: #162329;
}

.meta{
    margin: auto;
}
 
.meta img{
    height: 50px;
}


.foot {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px; 
    padding: 20px;
    background-color: rgb(12, 16, 20);
    border-top: 2px solid #2f3e46;
    width: 100%;
}

.foot a {
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.foot a:hover {
    text-decoration: underline;
}



.foot-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(12, 16, 20);
}

.foot-2 p{
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}


.icon-2{
    background-color: rgb(12, 16, 20);
    padding: 40px;
    width: 100%;
    border-bottom: 1px solid #2f3e46;
}

.ic-2{
    height: 62px;
    width: 62px;
}


@media screen and (min-width: 1300px){

    .icon-2{
        display: none;
    }

}

@media screen and (max-width: 1300px) {
    .block-1 {
        display: none;  
    }
    
    .block-2 {
        width: 100%;   
    }

    .icon-2 {
        display: flex;
        justify-content: center;
    }
}


