body {
    background: #f2f4f7;
}

.header-img{ display: flex; align-content: center; justify-content: center; height: 80px; margin-top: 40px; }

.header-block {
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    margin: auto;
    padding: 20px;
    width: 380px;
    background: white;
}

.header-align {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-family: Helvetica;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
}


input::placeholder{
    font-size: 15px;
    display: flex;
    align-content: center;
}

.btn{
    font-weight: bold;
    font-size: large;
    font-family: Helvetica;
    color: white;
    background-color: #1877f2;
}

.etc{
    display: flex;
    justify-content: center;
}

.zabyli{
    margin-top: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #1877f2;
}


.separator {
    display: flex;
    align-items: center;      
    text-align: center;
    margin: 20px 0;           
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;                   
    border-bottom: 1px solid #ccc;  
    margin: 0 10px;            
}

.separator span {
    color: #999;             
    font-size: 12px;      
    font-family: Arial, Helvetica, sans-serif;     
}


.btn2{
    color: white;
    background-color: #42b72a;
    font-weight: bold;
    font-size: large;
    width: 250px;
    display: flex;
    margin: auto;

}

.btn:hover{
    background-color: #1971e5;
}

.btn2:hover{
    background-color: #3fb328;
}