*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head, body{
    height: 100%;
}

body {
    background: #f2f4f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main-content {
     /* flex: 1 0 auto; */
    margin-top: 80px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
    min-height: 0;
}

.header-block {
    background: #f2f4f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 1000px;
    width: 100%;
}

.left-side {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* margin-bottom: 150px; */
}

.left-side img { 
    height: 107px; 
    width: 300px;
}

.ph{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin-left: 30px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma{
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;   
    width: 400px;
    gap: 5px;
    margin-bottom: 30px;
}

input {
    display: flex;
    width: 350px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px;
}

input::placeholder{
    font-size: 15px;
    display: flex;
    align-content: center;
}

.btn{
    font-weight: bold;
    font-size: large;
    font-family: Helvetica;
    color: white;
    background-color: #1877f2;
    margin: auto;
    cursor: pointer;
    border: none;
}

.etc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.zabyli{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1877f2;
    text-decoration: none;
    margin: 10px;
}

.zabyli:hover{
    text-decoration: underline;
}

.separator {
    display: flex;
    align-items: center;      
    text-align: center;
    width: 95%;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;                   
    border-bottom: 1px solid #dedddd;  
    margin: 5px 0;          
}

.btn2{
    color: white;
    background-color: #42b72a;
    font-weight: bold;
    font-size: large;
    width: 250px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #166fe5;
}

.btn2:hover{
    background-color: #36a420;
}

.desc a{
    text-decoration: none;
    color: black;
}

.desc a:hover{
    text-decoration: underline;
}

.desc{
    width: 400px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: white;
    width: 100%;
    padding: 30px 0;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.lg {
    width: 70%;
}

.lg ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #737373;
}

.separator2 {
    display: flex;
    align-items: center;      
    text-align: center;
    width: 70%;
}

.separator2::before,
.separator2::after {
    content: "";
    flex: 1;                   
    border-bottom: 1px solid #dedddd;  
    margin-top: 10px;          
}

.etc2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}


.etc2 ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #737373;
}

.etc2 li{
    margin-top: 7px;
    margin-right: 20px;
}

.etc2 a{
    text-decoration: none;
    color: #737373;
}

.etc2 a:hover{
    text-decoration: underline;
}

.cc{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.cc p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #737373;
}